PORT=3000
GO_ENV=development
CORS_ALLOWED_ORIGINS=http://localhost:3000
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Origin,Content-Type,Accept,Authorization
CORS_MAX_AGE=86400
RATE_LIMIT_MAX=100

###> postgres ###
POSTGRES_VERSION=16
POSTGRES_DB=db
POSTGRES_USER=random
POSTGRES_PASSWORD=random
POSTGRES_NAME=database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_NAME}:5432/${POSTGRES_DB}?sslmode=disable
###< postgres ###

###> ngrok/ngrok ###
NGROK_AUTHTOKEN=
###< ngrok/ngrok ###

###> clerk/clerk-go ###
CLERK_WEBHOOK_SECRET=
CLERK_SECRET_KEY=
CLERK_FRONTEND_API=
###< clerk/clerk-go ###

###> rabbitmq ###
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672/
RABBITMQ_EXCHANGE=domain.events
RABBITMQ_QUEUE=domain.events
RABBITMQ_ROUTING_KEY=user.#
RABBITMQ_RETRY_TTL_MS=30000
WORKER_MAX_RETRIES=3
OUTBOX_POLL_INTERVAL=2s
WORKER_CONCURRENCY=4
###< rabbitmq ###
